<div ng-controller = "usersController">

		<form class ="col-md-4">
		  <div class="form-group">
		  	Email: <input type="text" class="form-control" id="email" ng-model = "newUser.email">
		  </div>
		  <button type="submit" class="btn btn-primary" ng-Click = "findUser()">Submit</button>
		</form>


	<h3>{{error}}</h3>

	<div ng-repeat = "e in info.events">
		<form class ="col-md-4">
			<div class="checkbox">
				<label><input type="checkbox" id="rsvp1" ng-model = "newUser.rsvp1">{{e.event1}}</label>
				How many?<input type="text" class="form-control" id="rsvp1" ng-model = "newUser.num1">
			</div>
			<div class="checkbox">
				<label><input type="checkbox"  id="rsvp2" ng-model = "newUser.rsvp2">{{e.event2}}</label>
				How many?<input type="text" class="form-control" id="rsvp1" ng-model = "newUser.num2">
			</div>
			<div class="checkbox">
				<label><input type="checkbox" id="rsvp3" ng-model = "newUser.rsvp3">{{e.event3}}</label>
				How many?<input type="text" class="form-control" id="rsvp1" ng-model = "newUser.num3">
			</div>
			<button type="submit" class="btn btn-primary" ng-Click = "updateRSVP()">Submit</button>
		</form>	
	</div>


</div>