<div ng-controller = "usersController">

		<form class ="col-md-4">
		  <div class="form-group">
		  	Email: <input type="text" class="form-control" id="email" ng-model = "newUser.email">
		  </div>
		  <button type="submit" class="btn btn-primary" ng-Click = "findUser()">Submit</button>
		</form>


	<h3>{{error}}</h3>

	<h3>{{info.email}}</h3>
	<div ng-repeat = "e in info.events">
		<form class ="col-md-4">
			<p>{{e.event1}}</p>
				Attending?<input type="text" class="form-control" id="rsvp1" ng-model = "newUser.rsvp1">
			<p>{{e.event2}}</p>
				Attending?<input type="text" class="form-control" id="rsvp2" ng-model = "newUser.rsvp2">
			<p>{{e.event3}}</p>
				Attending?<input type="text" class="form-control" id="rsvp3" ng-model = "newUser.rsvp3">
			<button type="submit" class="btn btn-primary" ng-Click = "updateUser()">Submit</button>
		</form>	
	</div>


</div>