  <div ng-controller = "usersController">

		<form class ="col-md-4">
		  <div class="form-group">
		  	Email: <input type="text" class="form-control" id="email" ng-model = "newUser.email">
		  </div>
		  <button type="submit" class="btn btn-primary" ng-Click = "findUser()">Submit</button>
		</form>


	<h3>{{error}}</h3>


	<div ng-if="finished === false">
		<form class ="col-md-4">
			<div ng-repeat = "event in info.events">
											
							<h1>{{event.event}}</h1> 
							<p>Number Invited: {{event.count_invited}}</p>
							<p>Number Attending:</p>
							<input type = "text" class = "form-control" ng-model = "newUser.count_attending[event.event]">
        		
					
				
			</div>
					
				Comment:<input type = "text" ng-model = "newUser.comment">
				
			<button type="submit" class="btn btn-primary" ng-Click = "updateRSVP()">Submit</button>
		</form>	
	</div>

	<div ng-if="finished === true">
		<p>Thanks for submitting your RSVP!</p>
	</div>

</div>